.footer {
    $self: &;

    &__banner {
        width: 100%;
        background-color: #015768;
        padding: 2rem;
    }

    &__name {
        font-size: 1.4rem;
        line-height: 1.6rem;
        color: #fff;
    }

    &__date {
        font-size: 1.4rem;
        line-height: 1.6rem;
        color: #fff;
    }
}