@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.header {
  $self: &;

  height: 100%;
  width: 100%;

  &__image {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url('../../assets/images/hands.jpg') no-repeat center center;
  }

  &__image-wrapper {
    &--large {
      height: 100vh;
    }

    &--small {
      height: 40vh;
    }
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    text-align: center;
    color: #fff;
    width: 100%;
    z-index: 1;
    
    &--large {
      font-size: 7.2rem;
      line-height: 8rem;
      margin-top: -4rem;
      top: 50%;
    }

    &--small {
      font-size: 4.8rem;
      line-height: 5rem;
      margin-top: -6.5rem;
      top: 25%;
    }

  }

  &__title-box {
    position: absolute;
    background-color: #ff0000;
    z-index: 3;
  }
}