@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.header {
  $self: &;

  height: 100vh;
  width: 100%;

  &--large {
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      background-color: #22262d;
      z-index: 2;
      height: 25%;
      clip-path: polygon(100% 0, 0 100%, 100% 100%);
    }
  
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      right: 0;
      top: 0;
      background-color: #22262d;
      z-index: 2;
      height: 25%;
      clip-path: polygon(0 0, 0 100%, 100% 0);
    }
  }


  &__image {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
  
  &__image-wrapper {
    &--large {
      height: 100%;
      background-image: url('../../assets/images/natuur.gif');
      background-size: cover;
      background-repeat: no-repeat;

      &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: #22262d;
      }
    }
    
    &--small {
      height: 40vh;
      background: url('../../assets/images/hands.jpg') no-repeat center center;
    }
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    text-align: center;
    color: #fff;
    &--large {
      font-size: 6.4rem;
      line-height: 6.6rem;
      margin-top: -4rem;
      bottom: 8rem;
      z-index: 3;
      width: 90%;
      transform: rotate(-7.6deg);
    }
    
    &--small {
      font-size: 4.8rem;
      line-height: 5rem;
      margin-top: -6.5rem;
      top: 25%;
      width: 100%;
      z-index: 1;
    }

  }

  &__title-box {
    position: absolute;
    background-color: #ff0000;
    z-index: 3;
  }

  &__logo-background {
    background-color: #282828;
  }
}