@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.largeheader {
  $self: &;

  height: 100%;
  width: 100%;

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url('../../assets/images/hands.jpg') no-repeat center center;
  }

  &__image-wrapper {
    height: 100vh;
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    font-size: 7.2rem;
    line-height: 8rem;
    text-align: center;
    color: #fff;
    width: 100%;
    top: 50%;
    margin-top: -4rem;
    z-index: 1;
  }

  &__title-box {
    position: absolute;
    background-color: #ff0000;
    z-index: 3;
  }
}