@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.navigation {
  $self: &;

  position: absolute;
  z-index: 5;
  left: 1rem;
  top: 1rem;
  font-family: 'Montserrat', sans-serif;

  ul,
  li {
    list-style: none;
  }

  &__content {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -6rem;
  }

  &__links {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    background: #d70f08;
    min-height: 2.5rem;
    margin-bottom: 0.5rem;
    min-width: 12rem;

    &:hover {
      filter: brightness(90%);
    }
    
    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      left: -2.5rem;
      border-bottom: 2.5rem solid #d70f08;
      border-left: 2.5rem solid transparent;
    }
  
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      right: -2.5rem;
      border-top: 2.5rem solid #d70f08;
      border-right: 2.5rem solid transparent;
    }
  }

  &__item-text {
    color: #fff;
    text-decoration: none;

    &:hover  {
      text-decoration: none;
      color: #fff;
    }
  }

}

.dock {
  background-color: #ff0000;
}